<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.dao.StudentDao">
    <insert id="add" parameterType="com.sunny.entity.Student">
        INSERT INTO student
        (studentNumber,studentName,password,phone,sex,email,clazzId,gradeId,photo,remark)
        VALUE
        (#{studentNumber},#{username},#{password},#{phone},#{sex},#{email},#{clazzId},#{gradeId},#{photo},#{remark});
    </insert>
    <update id="edit" parameterType="com.sunny.entity.Student">
        UPDATE student
        SET
            username=#{username},password=#{password},sex=#{sex},
            phone=#{phone},email=#{email},clazzId=#{clazzId},gradeId=#{gradeId},photo=#{photo},remark=#{remark}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM student where id in (${value})
    </delete>


    <select id="findList" resultType="com.sunny.entity.Student" parameterType="java.util.Map">
        SELECT * FROM student WHERE 1 = 1
        <if test="username != null and username != ''">
            and username LIKE concat(concat('%',#{username}),'%')
        </if>
        <if test="clazzId != null and clazzId != ''">
            and clazzId = #{clazzId}
        </if>
        limit #{offset},#{pageSize}
    </select>
    <select id="getTotal" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(id) FROM student WHERE 1=1
        <if test="username != null">
            and username LIKE #{username}
        </if>
        <if test="gradeId != null">
            and gradeId = #{gradeId}
        </if>
    </select>
    <select id="findAll" resultType="com.sunny.entity.Student" >
        SELECT * FROM student
    </select>
    <select id="findByStudentName" parameterType="java.lang.String" resultType="com.sunny.entity.Student">
        SELECT * FROM student WHERE username = #{username}
    </select>
</mapper>